.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

.btn-login {
  font-weight: 600;
  color: white;
  background-color: cadetblue;
  align-self: flex-end;
  border: none;
  outline: none;
  margin-left: 10px;
}
